<h2>User Details</h2>

<div *ngIf="errorMessage" style="color: red;">
  {{ errorMessage }}
</div>

<div *ngIf="user">
  <p><strong>Name:</strong> {{ user.name }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>
  <p><strong>ID:</strong> {{ user.id }}</p>

  <button (click)="editUser()">Edit User</button>
</div>
<h3>Books</h3>

<a routerLink="/books">📚 View Books</a>
|
<a routerLink="/books/create">➕ Create Book</a>

<a [routerLink]="['/shelves/create']"
   [queryParams]="{ userId: user.id }">
   ➕ Create Shelf
</a>
<a routerLink="/shelves">🗂️ View Shelves</a>
