<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-7 col-lg-6">
      <div class="card shadow-sm">
        <div class="card-body">

          <h4 class="card-title text-center mb-4">Create Book</h4>

          <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">

            <div class="mb-3">
              <label class="form-label">Title</label>
              <input class="form-control" formControlName="title" placeholder="Enter book title"
                [class.is-invalid]="bookForm.get('title')?.touched && bookForm.get('title')?.invalid" />
              <div class="invalid-feedback">
                Title is required
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Author</label>
              <input class="form-control" formControlName="author" placeholder="Enter author name" />
            </div>

            <div class="mb-3">
              <label class="form-label">ISBN</label>
              <input class="form-control" formControlName="isbn" placeholder="Enter ISBN" />
            </div>

            <div class="mb-3">
              <label class="form-label">Genre</label>
              <input class="form-control" formControlName="genre" placeholder="Enter genre" />
            </div>

            <div class="mb-4">
              <label class="form-label">Description</label>
              <textarea rows="4" class="form-control" formControlName="description" placeholder="Short description">
                            </textarea>
            </div>

            <button type="submit" class="btn btn-success w-100" [disabled]="bookForm.invalid">
              Create Book
            </button>

          </form>

          <div *ngIf="message" class="alert alert-info mt-3 text-center">
            {{ message }}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>